<%- include('layouts/header') %>

<div class="container">
    <h1>All Posts</h1>
    <% posts.forEach(post => { %>
    <div class="post-container">
        <div class="post-header">
            <div>
                <h1><%= post.postTitle %></h1>
                <small><em><%= post.createdAt %></em></small>
            </div>
            <div class="post-options">...</div>
        </div>
        <div class="post-content">
            <p><%= post.postContent %></p>
        </div>
        <div class="post-footer">
            <h4><%= post.author %></h4>
        </div>
    </div>
    <% }) %>
</div>

<%- include('layouts/footer') %>